
<h1>Upload Multispectral Samples</h1>



<p>
    This is the most minimal example of Dropzone. The upload in this example
    doesn't work, because there is no actual server to handle the file upload.
</p>

<!-- Change /upload-target to your upload address -->
<form action="/upload-target" class="dropzone"></form>
<%= link_to 'New Multi spec sample', new_multi_spec_sample_path %>
