<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <title>Multispectral Image Data Browser</title>
        <link rel="stylesheet" href="assets/bootstrap.css">
        <link rel="stylesheet" href="assets/bootstrap-theme.css">
        <link rel="stylesheet" href="assets/style.css">
        <link rel="stylesheet" media="all" href="assets/activities.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/canvas_lookup.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/dropzone.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/multi_spectral_profiles.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/multispec.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/scaffolds.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/style_002.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/upload.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/application.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/dropzone_002.css" data-turbolinks-track="true">
        <link rel="stylesheet" media="all" href="assets/bootstrap_002.css" data-turbolinks-track="true">
        <script src="assets/jquery.js" data-turbolinks-track="true"></script>
        <script src="assets/jquery_ujs.js" data-turbolinks-track="true"></script>
        <script src="assets/turbolinks.js" data-turbolinks-track="true"></script>
        <script src="assets/activities.js" data-turbolinks-track="true"></script>
        <script src="assets/canvas_lookup.js" data-turbolinks-track="true"></script>
        <script src="assets/dropzone.js" data-turbolinks-track="true"></script>
        <script src="assets/multi_spectral_profiles.js" data-turbolinks-track="true"></script>
        <script src="assets/multispec.js" data-turbolinks-track="true"></script>
        <script src="assets/script.js" data-turbolinks-track="true"></script>
        <script src="assets/upload.js" data-turbolinks-track="true"></script>
        <script src="assets/bootstrap.js" data-turbolinks-track="true"></script>
        <script src="assets/application.js" data-turbolinks-track="true"></script>
        <meta name="csrf-param" content="authenticity_token">
        <meta name="csrf-token" content="4FMWBGuqnGvWvXIafWLm8GIXjYBGrfPVXk8WnorDw0YKz4pGer7qypcp7PBLBEhKrqS+y0+iJI2nCiUEK9B7ew==">
    </head>
    <body>
    <div id="header">
        <div class="container">  
            <h1>Multispectral Image Data Browser</h1>
            <div id="nav">
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="upload">Upload</a></li>
                    <li><a href="browse.html">Browse</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="container">    

    <h3>Browse Results</h3>
    <a href="../upload/detail.html.erb">
        <div class="result">

            <div class="images">
                <div class="thumb">        
                    <img src="assets/thumb1.png" alt="Wheres_my_image?">
                </div>
                <div class="barchart">
                    <img src="assets/bar1.png" alt="Wheres_my_barchart?">
                </div>
            </div>

            <div class="metadata">
                <b>Creator:</b> Roy Lechich<br>
                <b>Date:</b> 2015-06-10 13:12:40<br>
            </div>
        </div>
    </a>

    <a href="../upload/detail.html.erb">
        <div class="result">

            <div class="images">
                <div class="thumb">        
                    <img src="assets/thumb2.png" alt="Wheres_my_image?">
                </div>
                <div class="barchart">
                    <img src="assets/bar2.png" alt="Wheres_my_barchart?">
                </div>
            </div>

            <div class="metadata">
                <b>Creator:</b> Roy Lechich<br>
                <b>Date:</b> 2015-06-10 13:12:40<br>
            </div>
        </div>
    </a>
    <a href="../upload/detail.html.erb">
        <div class="result">

            <div class="images">
                <div class="thumb">        
                    <img src="assets/thumb3.png" alt="Wheres_my_image?">
                </div>
                <div class="barchart">
                    <img src="assets/bar3.png" alt="Wheres_my_barchart?">
                </div>
            </div>

            <div class="metadata">
                <b>Creator:</b> Roy Lechich<br>
                <b>Date:</b> 2015-06-10 13:12:40<br>
            </div>
        </div>
    </a>
    <a href="../upload/detail.html.erb">
        <div class="result">

            <div class="images">
                <div class="thumb">        
                    <img src="assets/thumb4.png" alt="Wheres_my_image?">
                </div>
                <div class="barchart">
                    <img src="assets/bar4.png" alt="Wheres_my_barchart?">
                </div>
            </div>

            <div class="metadata">
                <b>Creator:</b> Roy Lechich<br>
                <b>Date:</b> 2015-06-10 13:12:40<br>
            </div>
        </div>
    </a>

    <a href="../upload/detail.html.erb">
        <div class="result">

            <div class="images">
                <div class="thumb">        
                    <img src="assets/thumb1.png" alt="Wheres_my_image?">
                </div>
                <div class="barchart">
                    <img src="assets/bar1.png" alt="Wheres_my_barchart?">
                </div>
            </div>

            <div class="metadata">
                <b>Creator:</b> Roy Lechich<br>
                <b>Date:</b> 2015-06-10 13:12:40<br>
            </div>
        </div>
    </a>
    
    <a href="../upload/detail.html.erb">
        <div class="result">
            <div class="images">
                <div class="thumb">        
                    <img src="assets/thumb4.png" alt="Wheres_my_image?">
                </div>
                <div class="barchart">
                    <img src="assets/bar4.png" alt="Wheres_my_barchart?">
                </div>
            </div>

            <div class="metadata">
                <b>Creator:</b> Roy Lechich<br>
                <b>Date:</b> 2015-06-10 13:12:40<br>
            </div>
        </div>
    </a>

    <a href="../upload/detail.html.erb">
        <div class="result">

            <div class="images">
                <div class="thumb">        
                    <img src="assets/thumb2.png" alt="Wheres_my_image?">
                </div>
                <div class="barchart">
                    <img src="assets/bar2.png" alt="Wheres_my_barchart?">
                </div>
            </div>

            <div class="metadata">
                <b>Creator:</b> Roy Lechich<br>
                <b>Date:</b> 2015-06-10 13:12:40<br>
            </div>
        </div>
    </a>

    <a href="../upload/detail.html.erb">
        <div class="result">

            <div class="images">
                <div class="thumb">        
                    <img src="assets/thumb3.png" alt="Wheres_my_image?">
                </div>
                <div class="barchart">
                    <img src="assets/bar3.png" alt="Wheres_my_barchart?">
                </div>
            </div>

            <div class="metadata">
                <b>Creator:</b> Roy Lechich<br>
                <b>Date:</b> 2015-06-10 13:12:40<br>
            </div>
        </div>
    </a>
    <br>

</div>    

</body></html>