<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Multispectral Image Data Browser</title>
        <style>
            .voffset45 { margin-top: 45px; }
        </style>
    </head>

    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Multispectral Uploader and Browser</h1>
                <p>Upload and view Hyper3d results from multispectral images</p>
                <div class="row">
                        <div class="btn btn-primary btn-lg col-md-3"><a href="upload">Upload Image Data </div>
                        <!--<div class="col-md-2"></div>-->
                        <div class="btn btn-primary btn-lg col-md-3 col-md-offset-2"><a href="browse">Browse search/upload results</div>
                    <br>
                </div>
                <div class="row">
                    <!--<div><img class="adaptive voffset25" alt="" src="http://desmm.yale.edu/sites/default/files/styles/adaptive/public/dmm8_768_0.png?itok=EI04BLSl" typeof="foaf:Image"></div>-->
                    <div><img class="adaptive voffset45 col-md-3 col-md-offset-3" alt="" src="/assets/CreatingEnglishLiterature.jpg"></div>
                </div>
            </div>
        </div>
    </body>
</html>