
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Dropzone simple example</title>
    <!--
      DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
      latest release (https://github.com/enyo/dropzone/releases/latest), and
      host them yourself!
    -->
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
</head>
<body>
<h1> Upload Page for Multispectral Image Samples</h1>
<br>
<p>
    This is a minimal example of Dropzone. The actual upload is not yet implemented.
</p>
<br>
<!-- Change /upload-target to your upload address -->
<form id="frm_dropzone" action="/upload-target" class="dropzone">

</form>
</body>