

<div class="container"><h1>DESMM Multispectral: DB </h1></div>

<div class="container">

    <br>
    Some background from the Multispectral Sample section in the DESMM project discussion from :
    <br>
    <h2><em>Examples of challenges and opportunities in visual analysis in the digital humanities
        Holly Rushmeier, Ruggero Pintus, Ying Yang, Christiana Wong, and David Lia:</em></h2>
</div>
<div class="container">
    The first initiative in visual analysis in DESMM is multispectral scanning of manuscripts to examine material variations. Multispectral imaging has clear benefits for improving the ability to read manuscripts, and to reveal erasures.
    <br>
    Multi-spectral imaging can also provide clues about how the manuscripts were made. Changes in pigments and form can provide clues about where the manuscripts were produced.
    <br>
    Multispectral images, including data from the ultraviolet and infrared bands, can provide insight into where changes in materials occur. Changes in pigment can be quite subtle, and determining what variations are significant depends on scholarly interpretation.
    <br>
    The challenges in this thread are narrowing down many thousands of possible changes to those that may be of interest to scholars, and allowing scholars to view and make notes about these changes.
    <br>
    ...
    <br>
    In the larger scale DESMM project, over one thousand pages were imaged with a eight wavelength band (one UV , six visible and one IR) device.
    <br>
    An existing image viewing program, Hyper3D,10 was modified to assist scholars in looking at the changes of spectra at manuscript locations where it has been hypothesized that there is a change in the scribal hand (see Fig. 2).
    <br>
    While differences have been found in key areas, a problem that arises is how to determine when two spectra are significantly different.
    <br>
    There are natural variations in the observed spectra as the letters and illustrations are completed, as the pen is dipped at different points, and as the materials available to produce the pigment vary.
    <br>
    Since most pigments use organic materials, the spectra may change just to variations in the growing conditions of the plants used to extract pigments.
    <br>
    To address the problem of pigment variations, we are developing techniques to automatically segment pages by spectra to determine the number of colors used per page, the spectra of each of the apparent colors on each page,
    <br>
    and the deviation of the spectral values from the mean for each color. This analysis will allow us to help determine what is a significant variation in the spectrum.
    <br>

    <br>
</div>
