<div class="container">
    <h3>Contact Us</h3>
    <div class="row">
        <div class="col-sm-9">Please contact your teaching fellow with any questions:</div>
    </div>
    <br>
    <!--<div class="row">
        <div class="col-sm-2">PlayerTo BeNamedLater 1</div>
        <div class="col-sm-2">
            <a href="mailto:ptbn1@yale.edu">ptbn1@yale.edu</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">PlayerTo BeNamedLater 2</div>
        <div class="col-sm-2">
            <a href="mailto:ptbn2@yale.edu">ptbn2@yale.edu</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">PlayerTo BeNamedLater 3</div>
        <div class="col-sm-2">
            <a href="mailto:ptbn3.edu">ptbn3@yale.edu</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">PlayerTo BeNamedLater 4</div>
        <div class="col-sm-2">
            <a href="mailto:ptbn4@yale.edu">ptbn4s@yale.edu</a>
        </div>
    </div>
</div>-->
</div>