<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Multispectral Image Data Browser</title>
        <style>
            .voffset45 { margin-top: 45px; }
        </style>
    </head>

    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Multispectral Uploader and Browser</h1>
                <p>Upload and view Hyper3d results from multispectral images</p>
                <div class="row">
                    <div><img class="adaptive voffset45 col-md-4 col-md-offset-3" alt="" src="/assets/CreatingEnglishLiterature.jpg"></div>
                </div>
            </div>
        </div>
    </body>
</html>