<container>
<div class = "col-md-3" padding-left=50px style="border-style:solid; border-width: 1px 1px 1px 1px; border-color: #bbb; box-shadow: -1px 5px 5px rgba(50, 50, 50, 0.2);">
    <form action="respond_to_search" class="form-horizontal" role="form" data-remote = "true" method = "post">
        <div class="form-group" margin-left="50px" name=search-filters" style="border-style:solid; border-width: 1px 1px 1px 1px; border-color: #bbb; box-shadow: -1px 5px 5px rgba(50, 50, 50, 0.2);">

            <h5 style= "padding-top:6px; padding-bottom:6px; margin-top:0; margin-left:20px; font-size:13px; color:#333; background-color: #999; border-top: 1px solid #999;">Manuscripts</h5>
            <div id="manuscripts" class="col_md_12 pre-scrollable">
                    <%= addManifestFilterOptions %>
            </div>
            <br>
            <h5 style= "padding-top:6px; padding-bottom:6px; margin-top:0; margin-left:20px; font-size:13px; color:#333; background-color: #999; border-top: 1px solid #999;">Tags</h5>
            <div id="tags" class="col-md-12 pre-scrollable" backgound-color="red" style="margin-left:8px">
                <!--<container class = "col-md-5">-->
                    <%= addTagFilterOptions%>
                <!--</container>-->
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </div>
    </form>
</div>

<div class = "col-md-9">
    <div id="search_results">
        <!-- Contents will be filled via ajax results in respond_to_search.js -->
    </div>
</div>
</container>
<script type="text/javascript" src="assets/search_helper.js"></script>
