
<container class = "col-md-3">
    <form action="respond_to_search" class="form-horizontal" role="form" data-remote = "true" method = "post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="manifest">Manuscript:</label>
            <div class="col-sm-2">
                <% select_options = MultispectralSample.get_manifests_for_select %>
                <%= select_tag(:manifest, options_for_select(select_options)) %>
            </div>
        </div>

        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </div>
    </form>
</container>

<container>
    <div id="search_results" class = "col-md-4 col-md-offset-2">
    </div>
</container>
